  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p id="notice"><%= notice %></p>
        <h1><i class="fa fa-shopping-cart"></i> Buy Your Awesome Phones</h1>
      </div>
      <div class="col-md-6">
        <% if @cart %>
            <%= render @cart %>
        <% end %>
      </div>
    </div>
  </div>
  <hr id="line">

     <div class="container">
      <% @products.each_slice(4) do |products| %>
        <div class="row">
          <% products.each do |product| %>
            <div class="col-md-3">
              <%= image_tag(product.image_url, :class => "image-size") %>
                <h5 class="bold"><%= product.title %></h5>
                <%= sanitize(product.description) %>
              <span class="btn btn-success"><%= number_to_currency(product.price) %></span>
              <span id="dp"><%= button_to 'Add to Cart', line_items_path(product_id: product), class: "btn btn-success"%></span>
            </div>
          <% end %>
        </div>
          <% end %>
     </div>